<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Eliminar Personaje</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > <a href="{{ url_for('moddict') }}">MODIFICAR DICCIONARIO</a> > ELIMINAR PERSONAJE</div>
	<div id="content">
		<div id="indice">
			<form action="javascript:borra()" id="form-menu" method="post">
				<div class="txt1">Marque los personajes a eliminar</div>
				<input type="submit" name="btn btn-delpers" value="Eliminar">
			</form>
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('moddict') }}'" value="Volver">
			</div>
		</div>
		<div id="Personajes">
			<div class="Personaje Cabecera">
				<div class="IdPersonaje">
					ID Personaje
					<div class="arrow-up" onclick="ordenarcbx('idrev')"></div>
					<div class="arrow-down" onclick="ordenarcbx('id')"></div>
				</div>
				<div class="NomP">Referencias personaje</div>
				<div class="NumApar">
					Número Apariciones
					<div class="arrow-up" onclick="ordenarcbx('aparev')"></div>
					<div class="arrow-down" onclick="ordenarcbx('apa')"></div>
				</div>
			</div>
			{% for i in pers.keys() %}
			<div class="Personaje">
				<div class="IdPersonaje">
					<input type="checkbox" name="cbx cbx-idpers" title="Marque para eliminar al personaje" value="{{ i }}">
					{{ i }}
				</div>
				<div class="NomP">
				{% for n in pers[i].getPersonaje().keys() %}
					<p class="ref">{{ n }}</p>
				{% endfor %}
				</div>
				{% if pers[i].getNumApariciones()[1] %}
					<div class="NumApar" parse="true">{{ pers[i].getNumApariciones()[0] }}</div>
				{% elif pers[i].getNumApariciones()[0] == 0 %}
					<div class="NumApar" parse="false">N/A</div>
				{% else%}
					<div class="NumApar" parse="false">{{ pers[i].getNumApariciones()[0] }}</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	function borra(){
		var checks = [];
		var inputElements = document.getElementsByName("cbx cbx-idpers");
		for(var i=0; inputElements[i]; ++i){
      		if(inputElements[i].checked){
           		checks.push(inputElements[i].value);
      		}
		}
		$.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/Modificar-Diccionario/Eliminar-Personaje/",
          traditional: "true",
          data: JSON.stringify(checks),
          dataType: "json"
          });
		alert('Los personajes seleccionados han sido eliminados con éxito')
		location.reload();
	}

	function ordenarcbx(tipo){
		$.ajax({
	      type: "POST",
	      contentType: "application/json;charset=utf-8",
	      url: "/Ordenar-Id-Cbx-Del/",
	      traditional: "true",
	      data: JSON.stringify(tipo),
	      dataType: "json",
	      success: function(response){
	      	$("#content #Personajes").replaceWith(response);
	      }
	    });
	}
</script>
</html>
