<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Diccionarios Automáticos</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="#">DICCIONARIO de PERSONAJES</a> > MODIFICAR DICCIONARIO > PARÁMETROS ADICIONALES > RED > INFORME</div>
	<div id="content">
		<div id="indice">
			<form action="" id="form-menu" method="post">
				<input type="submit" name="btn btn-creadict" value="Crear Diccionario">
				<input type="submit" name="btn btn-impdict" value="Importar Diccionario">
				<input type="submit" name="btn btn-obtdict" value="Obtener Diccionario">
				<input type="submit" name="btn btn-vacdit" value="Vaciar Diccionario">
			</form>
			<div id="form-mov">
				<input type="submit" class="volv" name="btn btn-volver" onclick="window.location.href='{{ url_for('index') }}'" value="Volver">
				<input type="submit" class="sig" name="btn btn-sig" onclick="window.location.href='{{ url_for('moddict') }}'" value="Siguiente">
			</div>
		</div>
	</div>
	<footer></footer>
</body>
</html>
