<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<script type="text/javascript">
		function sendForm(){
			var x = document.getElementById("csv");
			var nfiles = x.files.length;
			if(nfiles == 1){
				var extension = x.files[0].name.split('.').pop();
				if(extension == "csv"){
					alert("Fichero introducido correctamente")
					document.getElementById("form").submit();
				} else {
					alert("Formato de archivo equivocado")
				}
			} else {
				alert("Introduzca un archivo")
			}
		}
	</script>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Importar Diccionario</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > IMPORTAR DICCIONARIO</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('dictaut') }}'" value="Volver">
			</div>
		</div>
		<div id="forms">
			<form id="form" action="" method="post" enctype=multipart/form-data>
				<div id="txt1">Introduzca la ruta al fichero csv</div>
				<input type="file" id="csv" name="btn btn-selcsv" value="Seleccionar archivo" accept=".csv">
				<input type="button" onclick="sendForm()" name="btn btn-cargarcsv" value="Cargar">
			</form>
		</div>
	</div>
	<footer></footer>
</body>
</html>