<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Importar Diccionario</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > IMPORTAR DICCIONARIO</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('dictaut') }}'" value="Volver">
			</div>
		</div>
		<div id="forms">
			<form action="" method="post" enctype=multipart/form-data>
				<div id="txt1">Introduzca la ruta al fichero csv</div>
				<input type="file" name="btn btn-selcsv" value="Seleccionar archivo" accept=".csv">
				<input type="submit" name="btn btn-cargarcsv" value="Cargar">
			</form>
			<p>{{error}}</p>
		</div>
	</div>
	<footer></footer>
</body>
</html>