<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Informe</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > <a href="{{ url_for('moddict') }}">MODIFICAR DICCIONARIO</a> > <a href="{{ url_for('') }}">PARÁMETROS ADICIONALES</a> > <a href="{{ url_for('red') }}">RED</a> > <a href="#">INFORME</a></div>
	<div id="content">
		<form action="" method="post" class="form form-vis">
			<input type="submit" name="btn btn-vis" value="Visualizar informe">
		</form>
		<form action="{{ url_for('red') }}" class="form form-volver" method="post">
			<input type="submit" name="btn btn-volver" value="Volver">
		</form>
		<footer></footer>
	</div>
</body>
</html>