<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Juntar Personajes</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > <a href="{{ url_for('moddict') }}">MODIFICAR DICCIONARIO</a> > JUNTAR PERSONAJES</div>
	<div id="content">
		<div id="indice">
			<form action="javascript:junta()" id="form-menu" method="post">
				<div class="txt1">Marque los personajes a juntar</div>
				<input type="submit" name="btn btn-joinpers" value="Juntar">
			</form>
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('moddict') }}'" value="Volver">
			</div>
		</div>

		<div id="Personajes">
			<div class="Personaje Cabecera">
				<div class="IdPersonaje">
					ID Personaje
					<div class="arrow-up" onclick="sortidrev()"></div>
					<div class="arrow-down" onclick="sortid()"></div>
				</div>
				<div class="NomP">Referencias personaje</div>
				<div class="NumApar">
					Número Apariciones
					<div class="arrow-up" onclick="sortaparev()"></div>
					<div class="arrow-down" onclick="sortapa()"></div>
				</div>
			</div>
			{% for i in pers.keys() %}
			<div class="Personaje">
				<div class="IdPersonaje">
					<input type="checkbox" class="cbx-joinpers" title="Marque para eliminar al personaje" value="{{ i }}">
					{{ i }}
				</div>
				<div class="NomP">
				{% for n in pers[i].getPersonaje().keys() %}
					<p class="ref">{{ n }}</p>
				{% endfor %}
				</div>
				{% if pers[i].getNumApariciones()[1] %}
					<div class="NumApar" parse="true">{{ pers[i].getNumApariciones()[0] }}</div>
				{% elif pers[i].getNumApariciones()[0] == 0 %}
					<div class="NumApar" parse="false">N/A</div>
				{% else%}
					<div class="NumApar" parse="false">{{ pers[i].getNumApariciones()[0] }}</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	function junta(){
		var checks = [];
		var inputElements = document.getElementsByClassName("cbx-joinpers");
		for(var i=0; inputElements[i]; ++i){
      		if(inputElements[i].checked){
           		checks.push(inputElements[i].value);
      		}
		}
		$.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/Modificar-Diccionario/Juntar-Personajes/",
          traditional: "true",
          data: JSON.stringify({checks}),
          dataType: "json"
          });
		alert('Los personajes seleccionados han sido juntados con éxito')
		location.reload();
	}

	function dragdrop() {
	    $( ".Personaje" ).draggable({
	    	containment: "#content",
	    });
	    $(".Personaje").css({zIndex: 0});
	    $(".Personaje.Cabecera").css({zIndex: 1});
	    $( ".Personaje" ).droppable({
	    	drop: function( event, ui ) {
	    		var checks = [];
	    		checks.push($( this ).find("div.IdPersonaje input")[0].value);
	    		checks.push(ui.draggable.find("div.IdPersonaje input")[0].value);
	    		console.log(checks)
	    		$.ajax({
		          type: "POST",
		          contentType: "application/json;charset=utf-8",
		          url: "/Modificar-Diccionario/Juntar-Personajes/",
		          traditional: "true",
		          data: JSON.stringify(checks),
		          dataType: "json"
		          });
				location.reload();
	    	}
	    });
  	};

  	window.onload = dragdrop();

  	function sortidrev(){
        ordenar('idrev');
    }

    function sortid(){
    	ordenar('id');
    }

    function sortapa(){
    	ordenar('apa');
    }

    function sortaparev(){
    	ordenar('aparev');
    }

    function ordenar(tipo){
    	$.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/Modificar-Diccionario/Juntar-Personajes/",
          traditional: "true",
          data: JSON.stringify(tipo),
          dataType: "json",
          success: function(response){
          	$("#content #Personajes").replaceWith(response);
          	dragdrop();
          }
        });
    }
</script>
</html>
