<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Juntar Personajes</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="content">
		<form action="javascript:junta()" method="post" enctype=multipart/form-data>
			<div id="txt1">Marque los personajes a juntar</div>
			<input type="submit" name="btn btn-joinpers" value="Juntar">
		</form>
		<p>{{error}}</p>
		<form action="{{ url_for('moddict') }}" class="form form-volver" method="post">
			<input type="submit" name="btn btn-volver" value="Volver">
		</form>

		<div id="Personajes">
			<div class="Personaje Cabecera">
				<div class="IdPersonaje">ID Personaje</div>
				<div class="NomP">Referencias personaje</div>
			</div>
			{% for i in pers.keys() %}
			<div class="Personaje">
				<div class="IdPersonaje">{{ i }}
					<input type="checkbox" class="cbx-joinpers" title="Marque para eliminar al personaje" value="{{ i }}">
				</div>
				{% for n in pers[i].getPersonaje().keys() %}
				<div class="NomP">{{ n }} </div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	function junta(){
		var checks = [];
		var inputElements = document.getElementsByClassName("cbx-joinpers");
		for(var i=0; inputElements[i]; ++i){
      		if(inputElements[i].checked){
           		checks.push(inputElements[i].value);
      		}
		}
		$.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/Modificar-Diccionario/Juntar-Personajes/",
          traditional: "true",
          data: JSON.stringify({checks}),
          dataType: "json"
          });
		alert('Los personajes seleccionados han sido juntados con éxito')
		location.reload();
	}

	$( function() {
	    $( ".Personaje" ).draggable({
	    	containment: "#content",
	    });
	    $(".Personaje").css({zIndex: 0});
	    $(".Personaje.Cabecera").css({zIndex: 1});
	    $( ".Personaje" ).droppable({
	    	drop: function( event, ui ) {
	    		var checks = [];
	    		checks.push($( this ).find("div.IdPersonaje input")[0].value);
	    		checks.push(ui.draggable.find("div.IdPersonaje input")[0].value);
	    		console.log(checks)
	    		$.ajax({
		          type: "POST",
		          contentType: "application/json;charset=utf-8",
		          url: "/Modificar-Diccionario/Juntar-Personajes/",
		          traditional: "true",
		          data: JSON.stringify({checks}),
		          dataType: "json"
		          });
				location.reload();
	    	}
	    });
  	});
</script>
</html>
