<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
			</ul>
		</div>
	</header>
	<form action="" method="post" enctype=multipart/form-data>
		<div id="txt1">Introduzca la id del primer personaje</div>
		<input type="text" name="txt txt-idpers" size="40" placeholder="Id 1er Personaje" value="{{request.form.id1pers}}">
		<div id="txt1">Introduzca la id del segundo personaje personaje</div>
		<input type="text" name="txt txt-refpers" size="40" placeholder="Id 2do Personaje" value="{{request.form.id2pers}}">
		<!-- input type="file" class="btn btn-selfile" name="myFile" value="{{request.form.myFile}}" -->
		<input type="submit" name="btn btn-newref" value="Añadir">
	</form>
	<p>{{error}}</p>
	<form action="{{ url_for('moddict') }}" class="form form-volver" method="post">
		<input type="submit" name="btn btn-volver" value="Volver">
	</form>
	<div id="Personajes">
		{% for i in pers.keys() %}
		<div id="IdPersonaje">
			ID Personaje: {{ i }}	
			{% for n in pers[i].keys() %}
			<div id="IdP">Id Personaje: {{ i }} </div>
			<div id="NomP">Nombre personaje: {{ n }} </div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<footer></footer>
</body>
</html>
