<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Menu</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
			</ul>
		</div>
	</header>
	<form action="" method="post">
		<input type="submit" name="btn btn-dictauto" value="Diccionarios Automáticos">
		<input type="submit" name="btn btn-verdict" value="Ver Diccionario">
		<input type="submit" name="btn btn-moddict" value="Modificar Diccionario">
		<input type="submit" name="btn btn-vacdict" value="Vaciar Diccionario">
		<input type="submit" name="btn btn-expdict" value="Exportar Diccionario">
	</form>
	<p>{{error}}</p>
	<footer></footer>
</body>
</html>
