<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Modificar Id Personaje</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">Repositorio</a></li>
			</ul>
		</div>
	</header>
	<div id="content">
		<form action="" method="post" enctype=multipart/form-data>
			<div id="txt1">Introduzca la id actual del personaje</div>
			<input type="text" name="txt txt-idact" size="40" placeholder="Id Actual">
			<div id="txt1">Introduzca la nueva id</div>
			<input type="text" name="txt txt-newid" size="40" placeholder="Nueva Id">
			<input type="submit" name="btn btn-cambiarid" value="Cambiar">
		</form>
		<p>{{error}}</p>
		<form action="{{ url_for('moddict') }}" class="form form-volver" method="post">
			<input type="submit" name="btn btn-volver" value="Volver">
		</form>
		<div id="Personajes">
			{% for i in pers.keys() %}
			<div id="IdPersonaje">
				ID Personaje: {{ i }}	
				{% for n in pers[i].getPersonaje().keys() %}
				<div id="IdP">Id Personaje: {{ i }} </div>
				<div id="NomP">Nombre personaje: {{ n }} </div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
</body>
</html>
