<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Nuevo Personaje</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
			</ul>
		</div>
	</header>
	<form action="" method="post">
		<div id="txt1">Introduzca el nombre del nuevo personaje</div>
		<input type="text" name="txt txt-nombrepers" size="40" placeholder="Nombre Personaje">
		<input type="submit" name="btn btn-newpers" value="Añadir">
	</form>
	<p>{{error}}</p>
	<form action="{{ url_for('moddict') }}" class="form form-volver" method="post">
		<input type="submit" name="btn btn-volver" value="Volver">
	</form>
	<div id="Personajes">
		{% for i in pers.keys() %}
		<div id="IdPersonaje">
			ID Personaje: {{ i }}	
			{% for n in pers[i].getPersonaje().keys() %}
			<div id="IdP">Id Personaje: {{ i }} </div>
			<div id="NomP">Nombre personaje: {{ n }} </div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<footer></footer>
</body>
</html>
