<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<script type="text/javascript">
		function sendForm(){
			var x = document.getElementById("url");
			if(x.value.length == 0){
				alert("Introduzca una url")
			} else {
				if(x.value.includes("fandom")){
					alert("Personajes que aparecen en la página introducidos")
					document.getElementById("form").submit();
				} else {
					alert("Introduzca una url perteneciente a *.fandom.com/wiki/Category:Characters")
				}
			}
		}
	</script>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Obtener Diccionario</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
			</ul>
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">CARGAR EPUB</a> > <a href="{{ url_for('dictaut') }}">DICCIONARIO de PERSONAJES</a> > OBTENER DICCIONARIO</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('dictaut') }}'" value="Volver">
			</div>
		</div>
		<div id="forms">
			<form id="form" action="" method="post" enctype=multipart/form-data>
				<div id="txt1">Introduzca la dirección url donde se encuentren los personajes a importar</div>
				<input type="text" id="url" name="txt txt-url" size="40" placeholder="Url perteneciente a *.fandom.com/wiki/Category:Characters">
				<input type="button" onclick="sendForm()" name="btn btn-scrape" value="Obtener">
			</form>
		</div>
	</div>
	<footer></footer>
</body>
</html>