<!DOCTYPE html>
<html lang="{{ _('es') }}">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/language.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		function sendForm(){
			var x = document.getElementById("url");
			if(x.value.length == 0){
				alert("{{ _('Introduzca una url') }}")
			} else {
				if(x.value.includes("fandom")){
					alert("{{ _('Personajes que aparecen en la página introducidos') }}")
					document.getElementById("form").submit();
				} else {
					alert("{{ _('Introduzca una url perteneciente a *.fandom.com/wiki/Category:Characters') }}")
				}
			}
		}
	</script>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>{{ _('Obtener Diccionario') }}</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">{{ _('Inicio') }}</a></li>
				<li><a href="https://github.com/lca0037/GII18.0U-Ububooknet">{{ _('Repositorio') }}</a></li>
			</ul>
		</div>
		<div class="banderas">
			<img src="{{ url_for('static', filename='img/esp.png') }}" id="esp" onclick="idioma('es','{{ g.locale }}')">
			<img src="{{ url_for('static', filename='img/uk.png') }}" id="uk" onclick="idioma('en','{{ g.locale }}')">
		</div>
	</header>
	<div id="workflow"><a href="{{ url_for('index') }}">{{ _('CARGAR EPUB') }}</a> > <a href="{{ url_for('dictaut') }}">{{ _('DICCIONARIO de PERSONAJES') }}</a> > {{ _('OBTENER DICCIONARIO') }}</div>
	<div id="content">
		<div id="indice">
			<div id="form-mov">
				<input type="submit" name="btn btn-volver" onclick="window.location.href='{{ url_for('dictaut') }}'" value="{{ _('Volver') }}">
			</div>
		</div>
		<div id="forms">
			<form id="form" action="" method="post" enctype=multipart/form-data>
				<div id="txt1">{{ _('Introduzca la dirección url donde se encuentren los personajes a obtener') }}</div>
				<input type="text" id="url" name="txt txt-url" size="40" placeholder="{{ _('Url perteneciente a *.fandom.com/wiki/Category:Characters') }}">
				<input type="button" onclick="sendForm()" name="btn btn-scrape" value="{{ _('Obtener') }}">
			</form>
		</div>
	</div>
	<footer></footer>
</body>
</html>