<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ububooknet</title>
	<meta charset="UTF-8">
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<body>
	<header id="header">
		<div class="logo">
			<h1>Ububooknet</h1>
		</div>
		<div class="region"> 
			<h2>Parámetros adicionales</h2>
		</div>
		<div class="menu">
			<ul>
				<li><a href="{{ url_for('index') }}">Inicio</a></li>
			</ul>
		</div>
	</header>
	<div id="content">
		<form action="" method="post" enctype=multipart/form-data>
			<div id="txt1">Introduzca el número mínimo de apariciones en el libro</div>
			<input type="text" name="txt txt-apar" size="40" placeholder="Número mínimo de apariciones">
			<p>{{error1}}</p>
			<div id="txt1">Introduzca la distancia máxima de palabras entre personajes para que cuente como relación</div>
			<input type="text" name="txt txt-dist" size="40" placeholder="Número de palabras máximas">
			<p>{{error2}}</p>
			<input type="checkbox" name="cbx cbx-capitulos">
			<label for="cbx cbx-capitulos">Tener en cuenta los capítulos</label>
			<input type="submit" name="btn btn-red" value="Obtener red">
		</form>
		<form action="{{ url_for('moddict') }}" class="form form-volver" method="post">
			<input type="submit" name="btn btn-volver" value="Volver">
		</form>
		<div id="Personajes">
			{% for i in pers.keys() %}
			<div class="Personaje">
				<div class="IdPersonaje">
					<p>ID Personaje: {{ i }}</p>
					<p>Número de apariciones: {{ pers[i].getNumApariciones() }}</p>
				</div>
				{% for n in pers[i].getPersonaje().keys() %}
				<div class="NomP">Nombre personaje: {{ n }} </div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	<footer></footer>
</body>
</html>